extend layout
block content   
    .col-xs-12
        .panel.panel-default.col-xs-12
            form.form.col-xs-12.col-sm-4.no-padding#searchform(method="post" action="payments")
                .input-group.search
                  input.form-control#search(type="text" aria-label="Buscar" placeholder="Buscar por Usuario")
                  input.form-control#search_id(type="hidden")
                  span.input-group-addon 
                    i.fa.fa-search

            a.btn.btn-default.btn-adduser.btn-addpayment#export(href="/payments/export" target="_blank" data-toggle="tooltip" data-placement="top" title="Descargar") 
                i.fa.fa-download

            .clearfix
            .table-responsive.panel-user
                table.table.table-striped.hidden#paymentstable
                  thead
                    tr
                      th 
                      th
                      th
                      th Documento
                      th Nombres
                      th Apellidos
                      th Email
                      th Monto
                      th Medio
                      th Estado
                      th Fecha
                  tbody
                #loader  
                .col-xs-12
                        p.text-center#pages 1-10 de # Pagos
                    nav#page-nav
                        .text-center#page-selection
                  
block scripts
    script(src="/js/jquery.bootpag.min.js")  
    script.
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })      

        $( document ).ready(function() {

          $("#search").val('');
          $("#search_id").val('');

          $('#page-selection').bootpag({
              total: 10,
              maxVisible: 5,
          }).on("page", function(event, num){
              console.log("numero:"+num);
              filterPayments(num);
          });

          filterPayments(1);
        });          
       
        /* Read payments */
        function readPayments(page,search){

          var p= page || 1;
          var s= search || '';
          
          var url = ( (!s)? "/payments?page="+p : "/paymentsByUser?page=" + p + "&search=" + s);

          $.ajax({
              type: "GET",
              url: url,
              success : function(response){ 

                  var total = parseInt(response.count/10);
                  if(response.count%10 != 0){
                      total += 1;
                  }
                  
                  var m = ((response.count%10 != 0 && response.page == total)? response.count%10 : 10);

                  var a = 1 + (response.page-1)*10;
                  var b = m + (response.page-1)*10;
                  $('#pages').html(a + '-' + b + ' de ' + response.count + ' Pagos');
                  $('#page-selection').bootpag({total: total, maxVisible: 5});

                  var banned;
                  $("#paymentstable tbody tr").remove();                    
                  for(key=0; key<response.payments.length ; key++ ){

                      var payment = response.payments[key];
                      var medio = 'Paypal';
                      if(payment.type != 1){
                        medio = ((payment.type  == 2)? 'Servipag' : 'PayU');
                      }                      

                      $("#paymentstable tbody").append("<tr><td><input type='checkbox' value='" + payment.id_user._id + "'></td><td></td><td><img class='table-image' src='"+payment.id_user.gravatar+"' alt='"+payment.id_user.name.first+" "+payment.id_user.name.last+"'></td><td>"+payment.id_user.doc+"</td><td class='text-capitalize'>"+payment.id_user.name.first+"</td><td class='text-capitalize'>"+payment.id_user.name.last+"</td><td >"+payment.id_user.email+"</td><td>"+payment.mc_gross+' '+payment.mc_currency+"</td><td>"+medio+"</td><td>"+ payment.cal_status +"</td><td>"+moment(payment.created).format('YYYY-DD-MM-h:mm a')+"</td></tr>");
                  }

                  $('#loader').fadeOut( "slow", function() {
                    $('#paymentstable').removeClass("hidden").fadeIn("slow");         
                  });
                  
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                  var message = XMLHttpRequest.responseJSON.message;
                  warningAlert(message); 
              }
          });
        }

        function filterPayments(page){
            var search = $('#search').val().trim();
            readPayments(page,search);
        }

        /*Search by user*/
        $('#search').autocomplete({
            source: function(req,res) {
                $.ajax({
                    url: "/autocomplete-users/"+req.term,
                    dataType: "jsonp",
                    type: "GET",
                    data: {
                        term: req.term
                    },
                    success: function(data) {
                        console.log('data:');
                        console.log(data);
                        res($.map(data, function(item) {
                            return {
                                label: item.name.first + ' ' + item.name.last,//text comes from a collection of mongo
                                value: item.id
                            };
                        }));
                    },
                    error: function(xhr) {
                        alert(xhr.status + ' : ' + xhr.statusText);
                    }
                });
            },
            select: function(event, ui) {
                event.preventDefault();
                // change inputs
                $("#search").val(ui.item.label);
                $("#search_id").val(ui.item.value);
                $("#export").attr("href", "/payments/exportByUser?search=" + ui.item.value);
                // loader & read Payments
                $('#paymentstable').fadeOut( "fast", function() {
                  $('#loader').fadeIn( "fast");                                       
                  readPayments(1,ui.item.value);
                });
            }
        });

        /*Hit Enter in Search*/
        $('#searchform').submit(function(event) {
        
          event.preventDefault();

          $('#paymentstable').fadeOut( "fast", function() {
            $('#loader').fadeIn( "fast");                                       
            readPayments(1,$("#search_id").val());
          });
        });     