extend layout
block content   
    .col-xs-12
        .panel.panel-default.col-xs-12
            form.form.col-xs-12.col-sm-4.no-padding#searchform(method="post" action="payments")
                .input-group.search
                  input.form-control#search(type="text" aria-label="Buscar" placeholder="Buscar por Usuario")
                  input.form-control#search_id(type="hidden")
                  span.input-group-addon 
                    i.fa.fa-search

            .clearfix
            .col-xs-6
              .panel-body.center-block
                #morosos 
            .col-xs-6
              .table-responsive.panel-user
                table.table.table-striped.hidden#paymentstable
                  thead
                    tr
                      th Nombre
                      th Email
                      th Fecha
                      th Monto

                  tbody
                #loader  
                .col-xs-12
                        p.text-center#pages 1-10 de # Morosos
                    nav#page-nav
                        .text-center#page-selection
                  
block scripts
    script(src="/js/jquery.bootpag.min.js")  
    script(src="/js/highcharts.js")
    script.
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })      

        $( document ).ready(function() {

          // Clean 
          $("#search").val('');
          $("#search_id").val('');

          // Pagination
          $('#page-selection').bootpag({
              total: 10,
              maxVisible: 5,
          }).on("page", function(event, num){
              console.log("numero:"+num);
              filterPayments(num);
          });
          filterPayments(1);

          // reporte estudiantes
          $.ajax({
            url: '/payments/defaulter?page=1',
            type: 'GET',
            async: true,
            dataType: "json",
            success: function (data) {
              morososData(data);
            }
          });
        });          

        //------------------------------------------------------
        // Pie Chart : Estudiantes morosos y no morosos
        //------------------------------------------------------
        function morososData (data) {

          var serie = [["Al día ",data.todos*1 - data.morosos], ["Morosos ",data.morosos*1]];

          $('#morosos').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                },
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ' Al día/ Morosos'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.1f} estudiantes</b>',
                valueDecimals: 0
            },
            series:[{
                      name: 'Cantidad',
                      data: serie
            }]
          });
        }
       
        /* Read morosos : todos, morosos & payments */
        function readPayments(page,search){

          var p= page || 1;
          var s= search || '';
          
          var url = ( (!s)? "/payments/defaulter?page="+p : "/payments/defaulterByUser?page=" + p + "&search=" + s);

          $.ajax({
              type: "GET",
              url: url,
              success : function(response){ 

                  var total = parseInt(response.morosos/10);
                  if(response.count%10 != 0){
                      total += 1;
                  }
                  
                  var m = ((response.morosos%10 != 0 && response.page == total)? response.morosos%10 : 10);

                  var a = 1 + (response.page-1)*10;
                  var b = m + (response.page-1)*10;
                  $('#pages').html(a + '-' + b + ' de ' + response.morosos + ' Morosos');
                  $('#page-selection').bootpag({total: total, maxVisible: 5});

                  var banned;
                  $("#paymentstable tbody tr").remove();                    
                  for(key=0; key<response.payments.length ; key++ ){

                      var payment = response.payments[key];

                      $("#paymentstable tbody").append("<tr><td class='text-capitalize'>"+payment.id_user.name.first+ " " +payment.id_user.name.last+"</td><td >"+payment.id_user.email+"</td><td>"+payment.mc_gross+' '+payment.mc_currency+"</td><td>"+moment(payment.created).format('YYYY-DD-MM-h:mm a')+"</td></tr>");
                  }

                  $('#loader').fadeOut( "slow", function() {
                    $('#paymentstable').removeClass("hidden").fadeIn("slow");         
                  });
                  
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                  var message = XMLHttpRequest.responseJSON.message;
                  warningAlert(message); 
              }
          });
        }

        function filterPayments(page){
            var search = $('#search').val().trim();
            readPayments(page,search);
        }

        /*Search by user*/
        $('#search').autocomplete({
            source: function(req,res) {
                $.ajax({
                    url: "/autocomplete-users/"+req.term,
                    dataType: "jsonp",
                    type: "GET",
                    data: {
                        term: req.term
                    },
                    success: function(data) {
                        console.log('data:');
                        console.log(data);
                        res($.map(data, function(item) {
                            return {
                                label: item.name.first + ' ' + item.name.last,//text comes from a collection of mongo
                                value: item.id
                            };
                        }));
                    },
                    error: function(xhr) {
                        alert(xhr.status + ' : ' + xhr.statusText);
                    }
                });
            },
            select: function(event, ui) {
                event.preventDefault();
                // change inputs
                $("#search").val(ui.item.label);
                $("#search_id").val(ui.item.value);
                // loader & read Payments
                $('#paymentstable').fadeOut( "fast", function() {
                  $('#loader').fadeIn( "fast");                                       
                  readPayments(1,ui.item.value);
                });
            }
        });

        /*Hit Enter in Search*/
        $('#searchform').submit(function(event) {
        
          event.preventDefault();

          $('#paymentstable').fadeOut( "fast", function() {
            $('#loader').fadeIn( "fast");                                       
            readPayments(1,$("#search_id").val());
          });
        });     