extend ../layout
block content
    .col-xs-12.content
        .panel.panel-default.col-xs-12
            form.form.col-xs-12.col-sm-4.no-padding#searchform(method="post" action="users")
                .input-group.search
                    input.form-control#search(type="text" aria-label="Search users" placeholder="Search users")
                    span.input-group-addon
                        i.fa.fa-search

            button.btn.btn-adduser(data-toggle="tooltip" data-placement="top" title="Delete" onclick='deleteUserModal()')
                i.fa.fa-trash
            button.btn.btn-default.btn-adduser(data-toggle="tooltip" data-placement="top" title="Edit" onclick='updateUserModal()')
                i.fa.fa-pencil-square-o
            button.btn.btn-default.btn-adduser(onclick="exportUsers()" data-toggle="tooltip" data-placement="top" title="Download")
                i.fa.fa-download
            if user.role == 'admin'
                .dropdown(style="display:inline-block;")
                    button.btn.btn-adduser.btn-dropdown.dropdown-toggle(type="button" id="dropdownLocation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Location
                        i.fa.fa-angle-down
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a.locationSearch(href="#") Lord Cochrane Santiago
                        li
                            a.locationSearch(href="#") Viña del Mar
                        li
                            a.locationSearch(href="#") Calle 18 Bogotá
                        li
                            a.locationSearch(href="#") Calle 21 Bogotá
                        li
                            a.locationSearch(href="#") Villa campestre Barranquilla
                        li.dropdown-header.cleanLocationSearch.pull-right Clear


            .dropdown(style="display:inline-block;")
                button.btn.btn-adduser.btn-dropdown.dropdown-toggle(type="button" id="dropdownRol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                    span Role
                    i.fa.fa-angle-down
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                    li
                        a.roleSearch(href="#") Client Service
                    li
                        a.roleSearch(href="#") Maintenance
                    li
                        a.roleSearch(href="#") Marketing
                    li
                        a.roleSearch(href="#") Resident
                    li
                        a.roleSearch(href="#") Resident Assistant
                    li
                        a.roleSearch(href="#") Operation Manager
                    li.dropdown-header.cleanRoleSearch.pull-right Clear
            .pull-right
                button.btn.btn-main.btn-livinn(data-toggle="modal", data-target="#registrationModal", href="/#",data-dismiss="modal")
                    span.hidden-xs Add User
                    i.visible-xs.fa.fa-plus
            .clearfix
            .table-responsive.panel-user
                table.table.table-striped.hidden#userstable
                    thead
                        tr
                            th
                            th(style="min-width:33px;")
                            th Email
                            th First Name
                            th Last Name
                            th Document type
                            th Document
                            th Cellphone
                            th Role
                            if user.role == 'admin'
                                th City
                            th Created
                            th Updated
                            th Last Login
                    tbody
                #loader
            .col-xs-12
                p.text-center#pages 1-10 de # Users
            nav#page-nav
                .text-center#page-selection

    <!-- User Read Modal -->
    .modal.fade#readModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h2.modal-title.text-center.readModalTitle
                .modal-body
                    .row
                        .col-xs-12.col-md-6.no-padding
                          img.img-circle#profilePicture(src="")
                          .col-sm-12.no-padding
                              .form-group.emailregistrationerror.col-sm-4
                                  label(for='email') Email
                                  p#emailRead
                              .form-group.col-sm-4
                                  label(for='first') First Name
                                  p#firstRead
                              .form-group.col-sm-4
                                  label(for='last') Last Name
                                  p#lastRead
                          .col-sm-12.no-padding
                              .form-group.col-sm-4.col-sm-offset-2
                                  label Type of Document
                                  p#doctypeRead
                              .form-group.col-sm-4
                                  label(for='document') Document
                                  p#documentRead
                              .form-group.col-sm-8
                                  label(for='phone') Phone
                                  p#phoneRead
                        .col-xs-12.col-md-6.no-padding

                                .col-sm-12
                                    .form-group.col-sm-4
                                        label Role
                                        p#roleRead
                                    .form-group.col-sm-4
                                        label Location
                                        p#locationRead
                                    .form-group.col-sm-4
                                        label Time Zone
                                        p#timezoneRead
                                    .differentResident
                                        .form-group.col-sm-4
                                            label(for='occupation') Ocuppation
                                            p#occupationRead
                                        .form-group.col-sm-4
                                            label(for='skype') Skype
                                            p#skypeRead


                                .col-sm-12.residentFields
                                    br
                                    h3.modal-title.text-center Resident Aditional Fields
                                    br
                                    .col-sm-12

                                        .form-group.col-sm-4
                                            label(for='numcontract') Contract Number
                                            p#numcontractRead
                                        .form-group.col-sm-4
                                            label(for='birthdate') Birth Date
                                            p#birthdateRead
                                        .form-group.col-sm-4
                                            label(for='apartment') Apartment
                                            p#apartmentRead
                                    .col-sm-12
                                        .form-group.col-sm-4
                                            label(for='type') Apartment Type
                                            p#typeRead
                                        .form-group.col-sm-4
                                            label Bathroom
                                            p#bathroomRead
                                        .form-group.col-sm-4
                                            label(for='bed') Bed
                                            p#bedRead
                                    .col-sm-12
                                        .form-group.col-sm-4
                                            label(for='rate') Rate
                                            p#rateRead
                                        .form-group.col-sm-4
                                            label(for='currency') Currency
                                            p#currencyRead
                                        .form-group.col-sm-4
                                            label(for='rateusd') Rate USD
                                            p#rateusdRead
                                    .col-sm-12
                                        .form-group.col-sm-4
                                            label(for='rate') Agent
                                            p#agentRead
                                        .form-group.col-sm-4
                                            label(for='finish') Finish
                                            p#finishRead
                                        .form-group.col-sm-4
                                            label(for='start') Start
                                            p#startRead
                                    .col-sm-12
                                        .form-group.col-sm-4
                                            label(for='duration') Duration
                                            p#durationRead
                                        .form-group.col-sm-4
                                            label Status
                                            p#statusRead(name="status" disabled)


    <!-- User Registration Modal -->
    .modal.fade#registrationModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true" )
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                .modal-body
                    .row
                        .col-xs-12.col-sm-10.col-sm-offset-1
                            form#registrationForm(action="/api/users", method="post", role="form" enctype="multipart/form-data" data-parsley-validate)
                                .col-xs-12.col-sm-6
                                    .form-group
                                        .preview.img-wrapper
                                        .file-upload-wrapper
                                                input.file-upload-native(type="file" name="image" accept="image/*" )
                                                input.file-upload-text(type="text" disabled placeholder="Upload profile image")
                                    .form-group
                                        label(for='first')
                                            |   First Name
                                            span.requiredLivinn *
                                        input#first.form-control(type='text' name='first' placeholder='First Name' required='' autofocus='')
                                    .form-group
                                        label(for='last')
                                            |   Last Name
                                            span.requiredLivinn *
                                        input#last.form-control(type='text' name='last' placeholder='Last Name' required='' autofocus='')
                                    .form-group.emailregistrationerror
                                        label(for='email') Email
                                        span.requiredLivinn *
                                        input#email.form-control(type='text' placeholder='Email' name="email" required autofocus='')
                                .col-xs-12.col-sm-6
                                    .form-group
                                        label Role
                                        span.requiredLivinn *
                                        .select
                                            select.roleSelect(name="role")
                                                option(value="") Choose a role
                                                option(value="resident") Resident
                                                option(value="marketing") Marketing
                                                option(value="operation-manager") Operation Manager
                                                option(value="maintenance") Maintenance
                                                option(value="client-service") Customer Service
                                                option(value="resident-assistant") Resident Assistant
                                    .form-group
                                        label Document Type
                                        span.requiredLivinn *
                                        .select
                                            select(name="doctype" required)
                                                option(value="") Choose a document type
                                                option(value="Cédula de ciudadania") Cédula de ciudadania
                                                option(value="Cédula de extranjeria") Cédula de extranjeria
                                                option(value="DNI") DNI
                                                option(value="Passport") Passport
                                                option(value="Tarjeta de identidad") Tarjeta de identidad
                                    .form-group
                                        label(for='document') Document
                                        span.requiredLivinn *
                                        input#document.form-control(type='text' name='document' placeholder='Document' required='' autofocus='')
                                    .form-group.col-xs-12.col-sm-6.no-padding
                                        label Location
                                        span.requiredLivinn *
                                        .select
                                            select(name="location")
                                                option(value="") Choose a location
                                                option(value="Villa Campestre Barranquilla") Barranquilla - Villa Campestre
                                                option(value="Calle 18 Bogotá") Bogotá - Calle 18
                                                option(value="Calle 21 Bogotá")  Bogotá - Calle 21
                                                option(value="Lord Cochrane Santiago") Santiago - Lord Cochrane
                                                option(value="Viña Del Mar") Viña Del Mar - Alvarez
                                    .form-group.col-xs-12.col-sm-6.no-padding-right
                                        label Time Zone
                                        span.requiredLivinn *
                                        .select
                                            select(name="timezone")
                                                option(value="") Choose time zone
                                                option(value="América/Santiago") América/Chile
                                                option(value="América/Bogotá") América/Colombia
                                    .form-group
                                        label(for='phone') Phone
                                        span.requiredLivinn *
                                        input#phone.form-control(type='text' name='phone' placeholder='Phone' required='' autofocus='')
                                    .form-group.differentResident
                                        label(for='occupation') Ocuppation
                                        input#occupation.form-control(type='text' name='occupation' placeholder='Occupation'  autofocus='')
                                    .form-group.differentResident
                                        label(for='skype') Skype
                                        input#skype.form-control(type='text' name='skype' placeholder='Skype' autofocus='')
                                    .form-group.residentFields
                                        label(for='birthdate') Birth Date
                                        input#birthdate.form-control(type='text' name='birth_date' placeholder='YYYY-MM-DD'  autofocus='')
                                .col-xs-12.no-padding.residentFields
                                    hr
                                    .form-group.col-sm-4
                                        label(for='numcontract')
                                            |   Contract Number
                                            span.requiredLivinn *
                                        input#numcontract.form-control(type='text' placeholder='Contract Number' name="numcontract" autofocus='')
                                    .form-group.col-sm-4
                                        label(for='start')
                                            |   Start
                                            span.requiredLivinn *
                                        input#start.form-control(type='text' name='start' placeholder='YYYY-MM-DD' autofocus='')
                                    .form-group.col-sm-4
                                        label(for='finish')
                                            |   Finish
                                            span.requiredLivinn *
                                        input#finish.form-control(type='text' name='finish' placeholder='YYYY-MM-DD'  autofocus='')
                                    .form-group.col-sm-8
                                            label(for='rate') Agent
                                            span.requiredLivinn *
                                            input#agent.form-control(type='text' name='agent' placeholder='Agent'  autofocus='')
                                    .form-group.col-sm-4
                                        label Status
                                        .select
                                            select(name="status")
                                                option(value="") Choose a status
                                                option(value="Reserved") Reserved
                                                option(value="In-house") In-house
                                    .col-xs-12.no-padding
                                        .form-group.col-sm-4
                                            label(for='rate')
                                                |   Amount
                                                span.requiredLivinn *
                                            input#rate.form-control(type='text' name='rate' placeholder='Rate' autofocus='')
                                        .form-group.col-sm-4
                                            label(for='currency')
                                                |   Currency
                                                span.requiredLivinn *
                                            .select
                                                select(name="currency")
                                                  option(value="") Choose a currency
                                                  option(value="CLP") CLP
                                                  option(value="COP") COP
                                        .form-group.col-sm-4
                                            label(for='rateusd') Amount USD
                                            input#rateusd.form-control(type='text' name='rateusd' placeholder='Rate USD' autofocus='')
                                    hr.col-xs-12
                                    .form-group.col-sm-6
                                        label(for='apartment') Apartment
                                        span.requiredLivinn *
                                        input#apartment.form-control(type='text' name='apartment' placeholder='Apartment'  autofocus='')
                                    .form-group.col-sm-6
                                        label(for='type') Apartment Type
                                        span.requiredLivinn *
                                        input#type.form-control(type='text' name='apartmentType' placeholder='Type'  autofocus='')
                                    .form-group.col-sm-6
                                        label Bathroom
                                        .select
                                            select(name="bathroom")
                                                option(value="") Choose a bathroom
                                                option(value="single") Single
                                                option(value="shared") Shared
                                    .form-group.col-sm-6
                                        label(for='bed') Bed
                                        input#bed.form-control(type='text' name='bed' placeholder='Bed' autofocus='')
                                    .col-sm-12


                                hr.col-xs-12
                                .form-group.col-sm-12.col-md-4.col-md-offset-8.no-padding
                                    .pull-right
                                        button.btn.btn-white.btn-margin-right(data-dismiss="modal" aria-hidden="true") Cancel
                                        button.btn.btn-livinn(type='submit') Register

    <!-- Update User Modal -->
    .modal.fade#updateUserModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h3.modal-sm-title.text-center#updateModal_h ¿Do you want to update this user?
                .modal-body
                    .row
                        .col-xs-12.col-sm-10.col-sm-offset-1
                            form#updateForm(action="" method="" role="form" enctype="multipart/form-data" data-parsley-validate)

                                .col-xs-12.col-sm-6
                                    .form-group
                                        .preview.img-wrapper.img-preloaded#updateProfileImage
                                        .file-upload-wrapper
                                            input.file-upload-native#inputUpdateImage(type="file" name="image" accept="image/*" )
                                            input.file-upload-text(type="text" disabled placeholder="Change Profile Image")

                                    .form-group
                                        label(for='inputUpdateFirstname') First Name
                                        input#inputUpdateFirstname.form-control(type='text' name='first' placeholder='First Name' required='' autofocus='')
                                    .form-group
                                        label(for='inputUpdateLastname') Last Name
                                        input#inputUpdateLastname.form-control(type='text' name='last' placeholder='Last Name' required='' autofocus='')
                                    .form-group.emailregistrationerror
                                        label(for='inputUpdateEmail') Email
                                        input#inputUpdateEmail.form-control(type='text' placeholder='Email' name="email" required autofocus='')
                                .col-xs-12.col-sm-6
                                    .form-group
                                        label Role
                                        span.requiredLivinn *
                                        .select
                                            select#inputUpdateRole.roleSelect(name="role")
                                                option(value="resident") Resident
                                                option(value="marketing") Marketing
                                                option(value="operation-manager") Operation Manager
                                                option(value="maintenance") Maintenance
                                                option(value="client-service") Client Service
                                                option(value="resident-assistant") Resident Assistant
                                                option(value="admin") Super Admin

                                    .form-group
                                        label Document Type
                                        span.requiredLivinn *
                                        .select
                                            select#inputUpdateDocType(name="doctype")
                                                option(value="") Choose a document type
                                                    option(value="Cédula de ciudadania") Cédula de ciudadania
                                                    option(value="Cédula de extranjeria") Cédula de extranjeria
                                                    option(value="DNI") DNI
                                                    option(value="Passport") Passport
                                                    option(value="Tarjeta de identidad") Tarjeta de identidad
                                    .form-group
                                        label(for='inputUpdateDoc') Document
                                        span.requiredLivinn *
                                        input#inputUpdateDoc.form-control(type='text' name='document' placeholder='Document' required='' autofocus='')
                                    .form-group.col-xs-12.col-sm-6.no-padding
                                        label Location
                                        span.requiredLivinn *
                                        .select
                                            select#inputUpdateLocation(name="location")
                                                option(value="Lord Cochrane Santiago") Lord Cochrane Santiago
                                                option(value="Viña Del Mar") Viña Del Mar
                                                option(value="Calle 18 Bogotá") Calle 18 Bogotá
                                                option(value="Calle 21 Bogotá")  Calle 21 Bogotá
                                                option(value="Villa Campestre Barranquilla") Villa Campestre Barranquilla
                                    .form-group.col-xs-12.col-sm-6.no-padding-right
                                        label Time Zone
                                        span.requiredLivinn *
                                        .select
                                            select#inputUpdateTimeZone(name="timezone")
                                                option(value="América/Santiago") América/Santiago
                                                option(value="América/Bogotá") América/Bogotá
                                    .form-group
                                        label(for='inputUpdatePhone') Phone
                                        span.requiredLivinn *
                                        input#inputUpdatePhone.form-control(type='text' name='phone' placeholder='Phone' required='' autofocus='')

                                    .form-group.differentResident
                                        label(for='inputUpdateOccupation') Ocuppation
                                        input#inputUpdateOccupation.form-control(type='text' name='occupation' placeholder='Occupation'  autofocus='')

                                    .form-group.differentResident
                                        label(for='inputUpdateSkype') Skype
                                        input#inputUpdateSkype.form-control(type='text' name='skype' placeholder='Skype' autofocus='')

                                    .form-group.residentFields
                                        label(for='inputUpdateBirthdate') Birth Date
                                        input#inputUpdateBirthdate.form-control(type='text' name='birthdate' placeholder='YYYY-MM-DD'  autofocus='')

                                .col-xs-12.no-padding.residentFields
                                    hr
                                    .form-group.col-sm-4
                                        label(for='inputUpdateContract') Contract Number
                                        span.requiredLivinn *
                                        input#inputUpdateContract.form-control(type='text' placeholder='Contract Number' name="numcontract" autofocus='')
                                    .form-group.col-sm-4
                                        label(for='inputUpdateStart') Start
                                        span.requiredLivinn *
                                        input#inputUpdateStart.form-control(type='text' placeholder="YYYY-MM-DD" name='start' autofocus='')
                                    .form-group.col-sm-4
                                        label(for='inputUpdateFinish') Finish
                                        span.requiredLivinn *
                                        input#inputUpdateFinish.form-control(type='text' placeholder="YYYY-MM-DD" name='finish' autofocus='')
                                    .form-group.col-sm-8
                                        label(for='inputUpdateAgent') Agent
                                        span.requiredLivinn *
                                        input#inputUpdateAgent.form-control(type='text' name='agent' placeholder='Agent'  autofocus='')
                                    .form-group.col-sm-4
                                        label Status
                                        .select#inputUpdateStatus
                                            select(name="status")
                                                option(value="") Choose a status
                                                option(value="Booked") Booked
                                                option(value="In-house") In-house

                                .col-xs-12.no-padding.residentFields
                                    .form-group.col-sm-4
                                        label(for='inputUpdateRate') Amount
                                        span.requiredLivinn *
                                        input#inputUpdateRate.form-control(type='text' name='rate' placeholder='Rate' autofocus='')
                                    .form-group.col-sm-4
                                        label(for='inputUpdateCurrency')
                                            |   Currency
                                            span.requiredLivinn *
                                        .select#inputUpdateCurrency
                                            select(name="currency")
                                                option(value="") Choose a currency
                                                option(value="CLP") CLP
                                                option(value="COP") COP
                                    .form-group.col-sm-4
                                        label(for='inputUpdateRateusd') Amount USD
                                        input#inputUpdateRateusd.form-control(type='text' name='rateusd' placeholder='Rate USD' autofocus='')
                                .col-xs-12.no-padding.residentFields
                                    hr
                                    .form-group.col-sm-6
                                        label(for='inputUpdateApartment') Apartment
                                        span.requiredLivinn *
                                        input#inputUpdateApartment.form-control(type='text' name='apartment' placeholder='Apartment'  autofocus='')
                                    .form-group.col-sm-6
                                        label(for='inputUpdateApartmentType') Apartment Type
                                        span.requiredLivinn *
                                        input#inputUpdateApartmentType.form-control(type='text' name='apartmentType' placeholder='Type'  autofocus='')
                                    .form-group.col-sm-6
                                        label Bathroom
                                        .select
                                            select#inputUpdateBathroom(name="bathroom")
                                                option(value="") Choose a bathroom
                                                option(value="single") Single
                                                option(value="shared") Shared
                                    .form-group.col-sm-6
                                        label(for='inputUpdateBed') Bed
                                        input#inputUpdateBed.form-control(type='text' name='bed' placeholder='Bed' autofocus='')
                                    .col-sm-12
                                        hr

                                .col-xs-12
                                    .form-group.col-sm-12.col-md-4.col-md-offset-8.no-padding
                                        .pull-right
                                            button.btn.pull-right.deleteBtn(data-dismiss="modal" aria-hidden="true") Cancel
                                            button.btn.btn-livinn#updateUserButton  Update

    <!-- Delete User Modal -->
    .modal.fade#deleteUserModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    .row
                        h3.col-xs-12.modal-title.text-center#deleteModal_h ¿Desea eliminar este usuario?
                .modal-body
                    h4.modal-title.text-danger.danger-modal.text-center.hidden#deleteError
                    form
                        p.text-center#deleteModal_p Toda la información de este usuario será eliminada del sistema.
                        br
                .modal-footer
                    a.btn.btn-danger.deleteBtn.btn-livinn(onclick='deleteUser()')  Eliminar
                    button.btn.pull-right.deleteBtn(data-dismiss="modal" aria-hidden="true") Cancelar


block scripts
    script(src="/js/jquery.bootpag.min.js")
    script(src="/js/parsley.min.js")
    script.

        if(!{user.role == 'admin'}){
            var showLocation = true;
        } else {
            var showLocation = false;
        }

        $(function() {
            function maskImgs() {
                //$('.img-wrapper img').imagesLoaded({}, function() {
                $.each($('.img-wrapper img'), function(index, img) {
                    var src = $(img).attr('src');
                    var parent = $(img).parent();
                    parent
                        .css('background', 'url(' + src + ') no-repeat center center')
                        .css('background-size', 'cover');
                    $(img).remove();
                });
                //});
            }

            var preview = {
                init: function() {
                    preview.setPreviewImg();
                    preview.listenInput();
                },
                setPreviewImg: function(fileInput) {
                    var path = $(fileInput).val();
                    var uploadText = $(fileInput).siblings('.file-upload-text');

                    if (!path) {
                        $(uploadText).val('');
                    } else {
                        path = path.replace(/^C:\\fakepath\\/, "");
                        $(uploadText).val(path);

                        preview.showPreview(fileInput, path, uploadText);
                    }
                },
                showPreview: function(fileInput, path, uploadText) {
                    var file = $(fileInput)[0].files;

                    if (file && file[0]) {
                        var reader = new FileReader();

                        reader.onload = function(e) {
                            var previewImg = $(fileInput).parents('.file-upload-wrapper').siblings('.preview');
                            var img = $(previewImg).find('img');

                            if (img.length == 0) {
                                $(previewImg).html('<img src="' + e.target.result + '" alt=""/>');
                            } else {
                                img.attr('src', e.target.result);
                            }

                            uploadText.val(path);
                            maskImgs();
                        }

                        reader.onloadstart = function() {
                            $(uploadText).val('uploading..');
                        }

                        reader.readAsDataURL(file[0]);
                    }
                },
                listenInput: function() {
                    $('.file-upload-native').on('change', function() {
                        preview.setPreviewImg(this);
                    });
                }
            };
            preview.init();
        });


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function () {

            $('#page-selection').bootpag({
                total: 10,
                maxVisible: 5,
            }).on("page", function (event, num) {
                filterUsers(num);
            });

            filterUsers(1);

            $( "#start" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '2017:2050',
                onClose: function () {
                  $(this).parsley().validate();
                }
            });

            $( "#inputUpdateStart" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '2017:2050',
                onClose: function () {
                  $(this).parsley().validate();
                }
            });

            $( "#inputUpdateFinish" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '2017:2050',
                onClose: function () {
                  $(this).parsley().validate();
                }
            });

            $( "#finish" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '2017:2050',
                onClose: function () {
                  $(this).parsley().validate();
                }
            });


            $( "#birthdate" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1917:2000'
            });

            $( "#inputUpdateBirthdate" ).datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1917:2000'
            });

        });


        /*=== Create user ===*/
        $('#registrationForm').submit(function (evt) {
            evt.preventDefault();

            var url = $(this).attr("action");
            var formData = new FormData($('#registrationForm')[0]);


            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status == '409') {
                        $('#inputEmail').focus();
                        $('.emailregistrationerror').addClass('has-error');
                        warningAlert('Ya existe una cuenta registrada con este Email o número de Documento');
                    } else {
                        $('#registrationModal').modal('hide');
                        $('.residentFields').show();
                        document.getElementById("registrationForm").reset();
                        $("#userstable tbody").prepend("<tr class='hvr-grow-shadow'><td><input type='checkbox' value='" + response.users._id + "'></td><td style='width:33px;'><img class='img-circle table-profile-img' src='"+response.users.profile_picture + "'></td><td>" + response.users.email + "</td><td class='text-capitalize'>" + response.users.name.first + "</td><td class='text-capitalize'>" + response.users.name.last + "</td><td>"+ response.users.doc.typedoc +"</td><td>" + response.users.doc.number + "</td><td>" + response.users.phone.number + "</td><td>" + response.users.role + "</td><td>" + response.users.location + "</td><td>" + moment(response.users.created).format('YYYY-DD-MM') + "</td><td>" + moment(response.users.updated).format('YYYY-DD-MM') + "</td><td>" + moment(response.users.lastlogin).format('YYYY-DD-MM') + "</td></tr>");

                        successAlert("User created");
                        $('#registrationForm').parsley().reset();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });
        });

        /* Read users */
        function readUsers(page, search) {

            var p = page || 1;
            var s = search || '';

            var url = "/api/users?page=" + p + "&search=" + s;

            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    var total = parseInt(response.count / 10);
                    if (response.count % 10 != 0) {
                        total += 1;
                    }

                    var m = ((response.count % 10 != 0 && response.page == total) ? response.count % 10 : 10);

                    var a = 1 + (response.page - 1) * 10;
                    var b = m + (response.page - 1) * 10;
                    $('#pages').html(a + '-' + b + ' of ' + response.count + ' Users');
                    $('#page-selection').bootpag({total: total, maxVisible: 5});

                    var banned;
                    $("#userstable tbody tr").remove();
                    var location = '';
                    for (key = 0; key < response.users.length; key++) {

                        if (response.users[key].banned) {
                            banned = '<i class="fa fa-ban warning-color" aria-hidden="true"></i>';
                        } else {
                            banned = "";
                        }
                        var usd = ((response.users[key].usd) ? response.users[key].usd : 0);
                        var clp = ((response.users[key].clp) ? response.users[key].clp : 0);
                        if(showLocation){
                            location = "<td>" + response.users[key].location + "</td>";
                        } else {
                            location = "";
                        }
                        $("#userstable tbody").prepend("<tr class='hvr-grow-shadow'><td><input type='checkbox' value='" + response.users[key]._id + "'></td><td style='min-width:33px;'><img class='img-circle table-profile-img' src='" + response.users[key].profile_picture + "'></td><td>" + response.users[key].email + "</td><td class='text-capitalize'>" + response.users[key].name.first + "</td><td class='text-capitalize'>" + response.users[key].name.last + "</td><td>" + response.users[key].doc.typedoc + "</td><td>" + response.users[key].doc.number + "</td><td>" + response.users[key].phone.number + "</td><td>" + response.users[key].role + "</td>"+location+"<td>" + moment(response.users[key].created).format('YYYY-DD-MM') + "</td><td>" + moment(response.users[key].updated).format('YYYY-DD-MM') + "</td><td>" + moment(response.users[key].lastlogin).format('YYYY-DD-MM') + "</td></tr>");
                    }

                    $('#loader').fadeOut("slow", function () {
                        $('#userstable').removeClass("hidden").fadeIn("slow");
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });
        }

        /*=== Update user ==m=*/
        function updateUserModal() {
            document.getElementById("updateForm").reset();

            len = $('#userstable input:checkbox:checked').length;
            if (len == 0) {
                warningAlert('Please select one element for the update.');
            } else if (len == 1) {
                var id = $('input:checkbox:checked')[0].value;


                $.ajax({
                    type: "GET",
                    url: 'api/users/' + id,
                    success: function (response) {
                        $('#updateModal_h').html('¿Do you want to update the user <span class="text-capitalize">' + response.user.name.first + ' ' + response.user.name.last + '</span>?');
                        $('#updateProfileImage').css('background-image', 'url(' + response.user.profile_picture + ')');
                        $("#inputUpdateEmail").val(response.user.email);
                        $("#inputUpdateFirstname").val(response.user.name.first);
                        $("#inputUpdateLastname").val(response.user.name.last);
                        $("#inputUpdateDocType").val(response.user.doc.typedoc);
                        $("#inputUpdateDoc").val(response.user.doc.number);
                        $("#inputUpdatePhone").val(response.user.phone.number);
                        $("#inputUpdateRole").val(response.user.role);
                        $("#inputUpdateLocation").val(response.user.location);
                        $("#inputUpdateTimeZone").val(response.user.time_zone);
                        $("#inputUpdateOccupation").val(response.user.occupation);
                        $("#inputUpdateSkype").val(response.user.skype);

                        if ($("#inputUpdateRole").val() === 'resident') {
                            $('.residentFields').show();
                            $('.differentResident').hide();


                            $.ajax({
                                type: "GET",
                                url: 'api/residents/' + id,
                                success: function (response) {
                                    console.log(response);

                                    $("#inputUpdateContract").val(response.resident.contract_number);
                                    if(response.resident.birth_date)
                                        $("#inputUpdateBirthdate").val(response.resident.birth_date.substr(0,10));
                                    $("#inputUpdateApartment").val(response.resident.apartment);
                                    $("#inputUpdateApartmentType").val(response.resident.apartment_type);
                                    $("#inputUpdateRate").val(response.resident.rate);
                                    $("#inputUpdateBed").val(response.resident.bed);
                                    $("#inputUpdateCurrency").val(response.resident.currency);
                                    $("#inputUpdateRateusd").val(response.resident.rateusd);
                                    $("#inputUpdateAgent").val(response.resident.agent);
                                    $("#inputUpdateFinish").val(response.resident.finish.substr(0,10));
                                    $("#inputUpdateStart").val(response.resident.start.substr(0,10));
                                    $("#inputUpdateDuration").val(response.resident.duration);

                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    var message = XMLHttpRequest.responseJSON.message;
                                    if(XMLHttpRequest.status == 404){
                                        //No existe informacion de residente para este usuario
                                    }else{
                                        warningAlert(message);

                                    }

                                }
                            });
                        }else{
                            $('.residentFields').hide();
                            $('.differentResident').show();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var message = XMLHttpRequest.responseJSON.message;
                        warningAlert(message);
                    }
                });

                $('#updateUserModal').modal('show');
            }
            else {
                warningAlert('Only can update one user at time.');
            }
        }

        $('#updateUserButton').click(function(e){
            e.preventDefault();
            var users = [];

            $('#userstable input:checkbox:checked').each(function () {
                users.push($(this).val());
            });

            var formData = new FormData($('#updateForm')[0]);


            $.ajax({
                type: "PUT",
                data: formData,
                url: '/api/users/' + users[0],
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    var userr;
                    $('input:checkbox:checked').each(function () {
                        userr = $(this).parents("tr");
                        $(this).attr('checked', false);
                    });

                    var tdPic = userr.children("td:nth-child(2)");
                    var tdEmail = userr.children("td:nth-child(3)");
                    var tdFirst = userr.children("td:nth-child(4)");
                    var tdLast = userr.children("td:nth-child(5)");
                    var tdTypeDoc = userr.children("td:nth-child(6)");
                    var tdDoc = userr.children("td:nth-child(7)");
                    var tdCellphone = userr.children("td:nth-child(8)");
                    var tdRol = userr.children("td:nth-child(9)");
                    var tdCity = userr.children("td:nth-child(10)");
                    var tdUpdated = userr.children("td:nth-child(11)");

                    tdPic.children().attr('src',response.user.profile_picture);
                    tdEmail.text(response.user.email);
                    tdTypeDoc.text(response.user.doc.typedoc);
                    tdDoc.text(response.user.doc.number);
                    tdFirst.text(response.user.name.first);
                    tdLast.text(response.user.name.last);
                    tdCellphone.text(response.user.phone.number);
                    tdRol.text(response.user.rol);
                    tdCity.text(response.user.location);
                    tdUpdated.text(moment(response.user.updated).format('YYYY-DD-MM'));

                    $('#updateUserModal').modal('hide');

                    successAlert('Usuario ha sido modificado');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

        });

        /* Delete user */

        function deleteUserModal() {
            len = $('input:checkbox:checked').length;
            if (len == 0) {
                warningAlert('No has seleccionado ningun elemento para eliminar.');
            } else if (len == 1) {
                $('#deleteModal_h').html('').html('¿Desea eliminar este usuario?')
                $('#deleteModal_p').html('').html('Toda la información de este usuario será eliminada del sistema.');
                $('#deleteUserModal').modal('show');
            }
            else {
                $('#deleteModal_h').html('').html('¿Desea eliminar estos usuarios?')
                $('#deleteModal_p').html('').html('Toda la información de los usuarios seleccionados será eliminada del sistema.');
                $('#deleteUserModal').modal('show');
            }
        }

        function deleteUser() {

            var users = [];
            $('input:checkbox:checked').each(function () {
                users.push($(this).val());
            });

            $.ajax({
                type: "DELETE",
                data: {users: users},
                url: '/api/users',
                success: function (response) {
                    $('input:checkbox:checked').each(function () {
                        $(this).parents("tr").remove();
                    });
                    $('#deleteUserModal').modal('hide');
                    successAlert(message);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

        }

        function filterUsers(page) {
            var search = $('#search').val().trim();
            readUsers(page, search);
        }

        /*Search user*/

        $('#searchform').submit(function (event) {

            event.preventDefault();

            $('#userstable').fadeOut("fast", function () {
                $('#loader').fadeIn("fast");
                readUsers(1, $("#search").val());
            });
        });

        $('.differentResident').hide();

        $('.roleSelect').on('change', function () {
            if (this.value != 'resident') {
                $('.differentResident').show();
                $('.residentFields').hide();
            }
            else {
                $('.differentResident').hide();
                $('.residentFields').show();
            }
        });

        $('table').on('dblclick','tr',function(){
            var id = $(this).children().children().val();
            $("#profilePicture").attr('src', '');
            $.ajax({
                type: "GET",
                url: 'api/users/' + id,
                success: function (response) {
                    $('.readModalTitle').html('<span class="text-capitalize">' + response.user.name.first + ' ' + response.user.name.last + '</span>');
                    $("#profilePicture").attr('src',response.user.profile_picture);
                    $("#emailRead").text(response.user.email);
                    $("#firstRead").text(response.user.name.first);
                    $("#lastRead").text(response.user.name.last);
                    $("#doctypeRead").text(response.user.doc.typedoc);
                    $("#documentRead").text(response.user.doc.number);
                    $("#phoneRead").text(response.user.phone.number);
                    $("#roleRead").text(response.user.role);
                    $("#locationRead").text(response.user.location);
                    $("#timezoneRead").text(response.user.time_zone);
                    $("#occupationRead").text(response.user.occupation);
                    $("#skypeRead").text(response.user.skype);

                    if ($("#roleRead").text() === 'resident') {
                        $('.residentFields').show();
                        $('.differentResident').hide();


                        $.ajax({
                            type: "GET",
                            url: 'api/residents/' + id,
                            success: function (response) {

                                $("#numcontractRead").text(response.resident.contract_number);
                                $("#birthdateRead").text(response.resident.birth_date.substr(0, 10));
                                $("#apartmentRead").text(response.resident.apartment);
                                $("#typeRead").text(response.resident.apartment_type);
                                $("#rateRead").text(response.resident.rate);
                                $("#bathroomRead").text(response.resident.bathroom);
                                $("#bedRead").text(response.resident.bed);
                                $("#currencyRead").text(response.resident.currency);
                                $("#rateusdRead").text(response.resident.rateusd);
                                $("#agentRead").text(response.resident.agent);
                                $("#finishRead").text(response.resident.finish.substr(0, 10));
                                $("#startRead").text(response.resident.start.substr(0, 10));
                                $("#durationRead").text(response.resident.duration);
                                $("#statusRead").text(response.resident.status);

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var message = XMLHttpRequest.responseJSON.message;
                                warningAlert(message);
                            }
                        });
                    } else {
                        $('.residentFields').hide();
                        $('.differentResident').show();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

            $('#readModal').modal('show');

        });

        $('#search').on({
            focus: function () {
                $("#searchform .input-group-addon").addClass('focused');
            },

            blur: function () {
                $("#searchform .input-group-addon").removeClass('focused');
            }
        });

        $('.locationSearch').click(function(){

            var selectedLocation = $(this).html();
            $("#dropdownLocation").html(selectedLocation+'<i class="fa fa-angle-down"></i>')

            $('#loader').fadeOut("slow", function () {
               $('#userstable').addClass("hidden").fadeIn("slow");
           });
            var search = $(this).text().trim();
            readUsers(1, search);

        });

        $('.roleSearch').click(function(){

            var selectedRole = $(this).html();
            $("#dropdownRol").html(selectedRole+'<i class="fa fa-angle-down"></i>')

            $('#loader').fadeOut("slow", function () {
               $('#userstable').addClass("hidden").fadeIn("slow");
           });
            var search = $(this).text().trim();
            readUsers(1, search);

        });

        $('.cleanLocationSearch').click(function(){

            $("#dropdownLocation").html('Location<i class="fa fa-angle-down"></i>')

            $('#loader').fadeOut("slow", function () {
               $('#userstable').addClass("hidden").fadeIn("slow");
            });
            readUsers(1, '');

        });

        $('.cleanRoleSearch').click(function(){

            $("#dropdownRol").html('Role<i class="fa fa-angle-down"></i>')

            $('#loader').fadeOut("slow", function () {
               $('#userstable').addClass("hidden").fadeIn("slow");
           });
            readUsers(1, '');

        });

        //Export users
        function exportUsers(){
            var search = $('#search').val().trim();
            window.open('/api/users/export?search='+search,'_blank');
        }

        // Enables datepicker select in modal
        var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        $confModal.on('hidden', function() {
          $.fn.modal.Constructor.prototype.enforceFocus = enforceModalFocusFn;
        });
        $confModal.modal({ backdrop : false });





