.col-xs-12.col-sm-5
    .col-xs-12.config-menu
        h1 Configuración
        ul.list-unstyled
            li
                a(href="/admin/settings/personal-information") Información personal
            li
                a(href="/admin/settings/update-password") Modificar contraseña