.col-xs-12.col-sm-5
    .col-xs-12.config-menu
        h1 Settings
        ul.list-unstyled
            li
                a(href="/settings/personal-information") Personal information
            li
                a(href="/settings/update-password") Update password
