extend ../layout
block content
    include settings-menu.jade
    form.col-xs-12.col-sm-7(id="updatepasswordform" method="post" action="/update-password-logged" role="form")
        .page-header
            h2
                |   Update password
                br
                small New password should have at least 5 characters.
        .form-group.col-xs-12.no-padding.old-password-error
            label.col-sm-12.no-padding(for="oldpassword") Old password
            .col-sm-8.no-padding
                input.form-control#oldpassword(type="password" , name="oldpassword")
        .form-group.col-xs-12.no-padding.new-password-error.mismatch-error
            label.col-sm-12.no-padding(for="newpassword") New password
            .col-sm-8.no-padding
                input.form-control#newpassword(type="password", name="newpassword")
        .form-group.col-xs-12.no-padding.new-password-confirmation-error.mismatch-error
            label.col-sm-12.no-padding(for="newpasswordconfirmation") Confirm new password
            .col-sm-8.no-padding
                input.form-control#newpasswordconfirmation(type="password" data-equals="newpassword" name="newpasswordconfirmation")
        .form-group.col-xs-12.no-padding
            input.btn.btn-livinn#guardarContrasena(type="submit" value="Update password")
block scripts
    script.

        /*=== Password Form ===*/
        $('#updatepasswordform').submit(function(evt){
            evt.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                success : function(response){
                   console.log(response);
                   successAlert("La contraseña ha sido actualizada satisfactoriamente.");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    if(message == 'oldpassword parameter not found'){
                        $('#oldpassword').focus();
                        $('.new-password-error').removeClass('has-error');
                        $('.new-password-confirmation-error').removeClass('has-error');
                        $('.mismatch-error').removeClass('has-error');
                        $('.old-password-error').addClass('has-error');
                        warningAlert('Contraseña antigua incompleta/inválida.');
                    } else if(message == 'newpassword parameter not found'){
                        $('#newpassword').focus();
                        $('.old-password-error').removeClass('has-error');
                        $('.new-password-confirmation-error').removeClass('has-error');
                        $('.mismatch-error').removeClass('has-error');
                        $('.new-password-error').addClass('has-error');
                        warningAlert('Nueva Contraseña incompleta/inválida.');
                    } else if(message == 'newpasswordconfirmation parameter not found'){
                        $('#newpasswordconfirmation').focus();
                        $('.old-password-error').removeClass('has-error');
                        $('.new-password-error').removeClass('has-error');
                        $('.mismatch-error').removeClass('has-error');
                        $('.new-password-confirmation-error').addClass('has-error');
                        warningAlert('Confirmar Nueva Contraseña incompleta/inválida.');
                    } else if(message == 'password and password confirmation mismatch'){
                        $('#newpasswordconfirmation').focus();
                        $('.old-password-error').removeClass('has-error');
                        $('.new-password-error').removeClass('has-error');
                        $('.new-password-confirmation-error').removeClass('has-error');
                        $('.mismatch-error').addClass('has-error');
                        warningAlert('Las contraseñas no coinciden');
                    } else {
                        warningAlert(message);
                    }
                }
            });
        });
