extend layout
block content
    .login.col-xs-12.no-padding
        .layer.col-xs-12.no-padding
            .container.containerForm-Login
                .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.no-padding.form-login.has-feedback
                    .col-xs-12.no-padding
                        .alert.alert-success.animated.col-xs-12#loginsuccess(style="display:none;")
                            p#successmsj Hemos enviado la información a tu correo
                        .alert.alert-danger.animated.col-xs-12#loginerror(style="display:none;")
                            p#errmsj Lo sentimos no estas registrado
                    .col-xs-12.form-container
                        .col-xs-12
                            h1.col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.title
                                img(src="/img/logolivinn-blanco.svg", alt="Livinn")
                            form.form#loginForm(action="/login" method="post", role="form")
                                .form-group
                                    label.sr-only(for='inputEmail') Email
                                    input#inputEmail.form-control(type='email' name='email' placeholder='Email',autofocus='' required disabled=logged)
                                .form-group
                                    label.sr-only(for='inputPassword') Password
                                    input#inputPassword.form-control(type='password' name='password' placeholder='Password' required disabled=logged)
                                .loading#loading(style="display:none")
                                button.btn.btn-lg.btn-livinn2.btn-block#loginbtn(type='submit') Sign In
                                p.text-center.forgot-btn
                                    a(data-toggle="modal", data-target="#forgotPswdModal", href="/#",data-dismiss="modal" disabled=logged) Forgot password?
    <!-- Forgot Password Modal -->
    .modal.fade#forgotPswdModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    .row
                        h3.col-xs-12.modal-title.text-center Reset password
                .modal-body
                    .row
                        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
                            form#forgotForm(action="/reset-password",method="post", role="form")
                                p Enter the email address associated with your account, and we’ll email you a link to reset your password.
                                .form-group
                                    label(for="email") Email
                                    input#email.form-control(type="email",name="email" ,placeholder="Email")
                                hr
                                .form-group
                                  .col-xs-12.col-sm-5.no-padding
                                    input.btn.btn-livinn.btn-block(type="submit" value="Send reset link" )
block scripts
    script.

        $('#loginForm').submit(function(evt){

            evt.preventDefault();

            $('#loginbtn').fadeOut( "slow", function() {
                $('#loading').fadeIn("slow");
            });

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                success : function(response){
                    if(response.success){
                        window.location="/";
                    } else {
                        $("#errmsj").html("Hubo un error, verifica tus datos");
                        $('#loginerror').css("display","block");
                        $('#loginerror').addClass("fadeInRight");

                        $('#loading').addClass("hidden");
                        $('#loginbtn').show("fast");

                        $('#loginForm').reset();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    $("#errmsj").html(message);

                    $('#loginerror').css("display","block");
                    $('#loginerror').addClass("fadeInRight");

                    $('#loading').addClass("hidden");
                    $('#loginbtn').fadeIn("fast");
                    $( "#loginbtn" ).effect( "shake" );
                }
            });

        });


        /*=== Reset password Form ===*/
        $('#forgotForm').submit(function(evt){
            evt.preventDefault();
            var url = $(this).attr("action");
            var formData = $(this).serialize();
            $.ajax(url,{
                data : formData ,
                type : "POST",
                success : function(response){
                    console.log(response);
                    $('#forgotPswdModal').modal('hide');
                    $('#loginerror').css("display","none");
                    $('#loginerror').removeClass("fadeInRight");

                    var message = response.message;
                    $("#successmsj").html(message);
                    $('#loginsuccess').css("display","block");
                    $('#loginsuccess').addClass("fadeInRight");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                }
            });
        });
