extend ../layout
block header
    link(href="/plugins/summernote/summernote.css" rel="stylesheet")
block content
    .col-xs-9.content
      .panel.panel-default.col-xs-12
        form.form.col-xs-12.col-sm-10.no-padding#searchform(method="post" action="/api/user/#{user._id}/tickets/search")
          .col-xs-5.no-padding
            .input-group.search
              input.form-control#search(type="text" name="name" placeholder="Search ticket")
              span.input-group-addon
                i.fa.fa-search
          .select.select-livinn.col-xs-2
            select.form-control#categoryselect
              option(value="" selected) Category
              option(value="cleaning services") Cleaning Services
              option(value="customer service") Customer Service
              option(value="support") IT Support
              option(value="maintenance") Maintenance
              option(value="visits") Visits
              option(value="others") Others
          .select.select-livinn.col-xs-2
            select.form-control#statusselect
              option(value="" selected) Status
              option(value="open") Open
              option(value="pending") Pending
              option(value="resolved") Resolved

        .pull-right
            button.btn.btn-main.btn-livinn(data-toggle="modal", data-target="#newticketModal", href="/#",data-dismiss="modal")
                span.hidden-xs Add Ticket
                i.visible-xs.fa.fa-plus
        .clearfix(style="margin-bottom:15px;")
        #loader
        .col-xs-12.no-padding.tickets

    .col-xs-3.col-xs-offset-9.no-padding.activity-feed
        .panel.panel-default.col-xs-12.no-padding
            h2 activity feed

    <!-- New Ticket Modal -->
    .modal.fade#newticketModal.ticketModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .pull-right(style="position:absolute; right:15px; top:11px; z-index:2;")
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                .modal-header
                    h2.modal-title.text-center Create Ticket
                .modal-body

                    .row
                        form.col-xs-12.col-sm-10.col-sm-offset-1#ticketForm(action="/api/tickets" method="post" enctype="multipart/form-data" role="form")
                            if user.role != 'resident'
                              .form-group
                                  label Filed by
                                  input.form-control(type="text" name="filedby")
                            .form-group
                                label Category
                                .select
                                    select.form-control(name="category")
                                        option(value="") Please choose a category
                                        option(value="cleaning services") Cleaning Services
                                        option(value="customer service") Customer Service
                                        option(value="support") IT Support
                                        option(value="maintenance") Maintenance
                                        option(value="visits") Visits
                                        option(value="others") Others
                            .form-group
                                label Subject
                                input.form-control#subject(type="text" placeholder="Subject" name="subject")
                            .form-group
                                label Message
                                textarea.form-control#message(type="text" placeholder="Message" name="message" rows="5")

                            .form-group
                                label Attachment
                                input#file-select(type='file' name='attachments' data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Escoger Archivo")
                             .modal-footer
                                .pull-right.form-group-end
                                    button.btn(type="button" data-dismiss="modal" style="margin-right:7px;") Cancel
                                    input.btn.btn-livinn(type="submit" value="Submit")

    <!-- Ticket Read Modal -->
    .modal.fade#readModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    h3.modal-title.text-center.readModalTitle
                .modal-body
                    .row
                        .col-xs-12.col-sm-10.col-sm-offset-1
                            .col-sm-12
                                    .form-group.col-sm-4
                                        label(for='fieldByRead') Field By
                                        p#filedByRead
                                    .form-group.col-sm-4
                                        label(for='subjectRead') Subject
                                        p#subjectRead
                                    .form-group.col-sm-4
                                        label(for='categoryRead') Category
                                        p#categoryRead
                            .col-sm-12
                                    .form-group.col-sm-12
                                        label(for='messageRead') Message
                                        p#messageRead



block scripts
    script(src="/plugins/summernote/summernote.min.js")
    script(src="/plugins/summernote/lang/summernote-es-ES.js")
    script(src="/js/jquery.bootpag.min.js")
    script.
        //----------------- SOCKET.IO ---------------------------
        var socket = io('/superadmin');

        socket.on('new-ticket', function (dataServer) {

          $('.tickets').prepend("<div class='col-xs-12 no-padding ticket'><div class='col-xs-12 no-padding ticket-up'><div class='ticket-profile-img'><img src='http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350' class='img-circle img-responsive'></div><div class='ticket-up-info'><div class='col-xs-12 has-feedback'><p class='ticket-subtitle'>"+ getCategory(dataServer.ticket.category) +" "+moment(dataServer.ticket.created).format('MMMM Do YYYY, h:mm:ss a')+"</p></div><p class='col-xs-12 ticket-title'>"+ dataServer.ticket.subject +"</p></div><div class='ticket-btn-group'>"+getStatus(dataServer.ticket.status)+"</div></div><div class='col-xs-12 no-padding ticket-down'><div class='col-xs-11'><p>REFERENCE:<strong class='reference'>#"+dataServer.ticket._id+"</strong>CREATED BY:<strong class='created-by text-uppercase'>"+dataServer.ticket.filedby.name.first+" "+dataServer.ticket.filedby.name.last+"</strong>ASSIGNED TO:<strong class='assigned-to'>TOM PECHEUX</strong></p></div><div class='col-xs-1 no-padding'><button class='pull-right btn-more-ticket' onclick=\'openTicket(\'"+dataServer.ticket._id+"\')\'><i class='fa fa-ellipsis-h'></i></button></div></div></div>");

        });

        $( document ).ready(function() {


            $('.note-popover').css({'display': 'none'});

            // pagination script
            $('#page-selection').bootpag({
                total: 10,
                maxVisible: 5,
            }).on("page", function(event, num){
                console.log("numero:"+num);
                filterTickets(num);
            });

            filterTickets(1);


        });

        $('#search').on({
            focus: function () {
                $("#searchform .input-group-addon").addClass('focused');
            },

            blur: function () {
                $("#searchform .input-group-addon").removeClass('focused');
            }
        });

        /* Get params from all filters */
        function filterTickets(page){
            var search = $('#search').val().trim();
            getTickets(page,search);
        }

        $('#searchForm').submit(function(evt){
            evt.preventDefault();
            filterTickets(1);
        });

        function getTickets(page, search){
            //$('#tablecontainer').addClass("hidden")
            $('.tickets').hide();
            $('#loader').fadeIn( "slow");

            $.ajax({
                type: "GET",
                url: '/api/users/#{user._id}/tickets?page='+page +'&search='+search,
                success: function(data){

                    console.log(data);
                    var count = data.count;
                    var category = "";

                    for(key=0; key<data.tickets.length ; key++ ){

                        $('.tickets').append("<div class='col-xs-12 no-padding ticket'><div class='col-xs-12 no-padding ticket-up'><div class='ticket-profile-img'><img src='http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350' class='img-circle img-responsive'></div><div class='ticket-up-info'><div class='col-xs-12 has-feedback'><p class='ticket-subtitle'>"+ getCategory(data.tickets[key].category) +" "+moment(data.tickets[key].created).format('MMMM Do YYYY, h:mm:ss a')+"</p></div><p class='col-xs-12 ticket-title'>"+ data.tickets[key].subject +"</p></div><div class='ticket-btn-group'>"+getStatus(data.tickets[key].status)+"</div></div><div class='col-xs-12 no-padding ticket-down'><div class='col-xs-11'><p>REFERENCE:<strong class='reference'>#"+data.tickets[key]._id+"</strong>CREATED BY:<strong class='created-by text-uppercase'>"+data.tickets[key].filedby.name.first+" "+data.tickets[key].filedby.name.last+"</strong>ASSIGNED TO:<strong class='assigned-to'>TOM PECHEUX</strong></p></div><div class='col-xs-1 no-padding'><button class='pull-right btn-more-ticket' onclick='openTicket("+"\""+data.tickets[key]._id+"\""+")'><i class='fa fa-ellipsis-h'></i></button></div></div></div>");
                    }
                }
            }).done(function(data){
                $('#loader').fadeOut( "fast", function() {
                  $('.tickets').removeClass("hidden").fadeIn();
                });
            });
        }

        function getCategory(category){
          var value = '';
          if(category == 'cleaning services'){
            value = "<span class='label label-cleaning'>CLEANING SERVICES</span>";
          } else if(category == 'customer service'){
            value = "<span class='label label-customer'>CUSTOMER SERVICES</span>";
          } else if(category == 'support'){
            value = "<span class='label label-it'>IT SUPPORT</span>";
          } else if(category == 'maintenance'){
            value = "<span class='label label-maintenance'>MAINTENANCE</span>";
          } else if(category == 'visits'){
            value = "<span class='label label-visits'>VISITS</span>";
          } else {
            value = "<span class='label label-other'>OTHERS</span>";
          }
          return value;
        }

        function getStatus(status){
            console.log(status);
            var source = "";
            switch (status) {
                case 0:
                    source = '<button type="button" title="Pending" class="btn-exclamation-circle active"><i class="fa fa-exclamation-circle"></i></button><button type="button" title="Open" class="btn-clock-o"><i class="fa fa-clock-o"></i></button><button type="button" title="Resolved" class="btn-check-circle"><i class="fa fa-check-circle"></i></button>';
                    break;
                case 1:
                    source = '<button type="button" title="Pending" class="btn-exclamation-circle"><i class="fa fa-exclamation-circle"></i></button><button type="button" title="Open" class="btn-clock-o active"><i class="fa fa-clock-o"></i></button><button type="button" title="Resolved" class="btn-check-circle"><i class="fa fa-check-circle"></i></button>';
                    break;
                case 2:
                    source = '<button type="button" title="Pending" class="btn-exclamation-circle"><i class="fa fa-exclamation-circle"></i></button><button type="button" title="Open" class="btn-clock-o"><i class="fa fa-clock-o"></i></button><button type="button" title="Resolved" class="btn-check-circle active"><i class="fa fa-check-circle"></i></button>';
                    break;
            };
            return source;
        }


        /*=== CREATE: Ticket Form ===*/
        $('#ticketForm').submit(function(evt){

            evt.preventDefault();
            var url = $(this).attr("action");
            var formData = new FormData($('#ticketForm')[0]);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success : function(response){
                    console.log(response);
                    if(response.message == 'Ticket has been created'){
                        socket.emit('new-ticket', {ticket: response.ticket});
                        $('#newticketModal').modal('hide');
                        $('#subject').val("");
                        $('#summernote').summernote("reset");
                        successAlert(response.message);
                    } else {
                        warningAlert('Error al crear la solicitud');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    if(message == 'password and password confirmation mismatch'){
                        $('#inputConfPasswordr').focus();
                        $('.emailregistrationerror').removeClass('has-error');
                        $('.passwordregistrationerror').addClass('has-error');
                        warningAlert('Las contraseñas no coinciden');
                    } else {
                        warningAlert(message);
                    }
                }
            });
        });

        /*=== READ: Open ticket ===*/

        function openTicket(ticketid){

            $.ajax({
                type: "GET",
                url: 'api/tickets/' + ticketid,
                success: function (response) {
                    $('.readModalTitle').html('<span class="text-capitalize"> Ticket ' + response.ticket._id + '</span>');
                    $("#filedByRead").text(response.ticket.filedby);
                    $("#subjectRead").text(response.ticket.subject);
                    $("#categoryRead").text(response.ticket.category);
                    $("#messageRead").text(response.ticket.message);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

            $('#readModal').modal('show');
        }






