extend ../layout
block header
    link(href="/plugins/summernote/summernote.css" rel="stylesheet")
block content
    .col-xs-9.content
      .panel.panel-default.col-xs-12
        form.form.col-xs-12.col-sm-10.no-padding#searchform(method="post" action="/api/user/#{user._id}/tickets/search")
          .col-xs-4.no-padding
            .input-group.search
              input.form-control#search(type="text" name="name" placeholder="Search ticket")
              span.input-group-addon
                i.fa.fa-search
          .select.select-livinn.col-xs-2
            select.form-control#categoryselect
              option(value="" selected) Category
              option(value="cleaning services") Cleaning Services
              option(value="customer service") Customer Service
              option(value="support") IT Support
              option(value="maintenance") Maintenance
              option(value="visits") Visits
              option(value="others") Others
          .select.select-livinn.col-xs-2
            select.form-control#statusselect
              option(value="" selected) Status
              option(value="open") Open
              option(value="pending") Pending
              option(value="resolved") Resolved

        .pull-right
            button.btn.btn-main.btn-livinn(data-toggle="modal", data-target="#newticketModal", href="/#",data-dismiss="modal")
                span.hidden-xs Add Ticket
                i.visible-xs.fa.fa-plus
        .clearfix(style="margin-bottom:15px;")
        .col-xs-12.no-padding.tickets
          .col-xs-12.no-padding.ticket
            .col-xs-12.no-padding.ticket-up
              .ticket-profile-img
                img.img-circle.img-responsive(style="width:41px; height:41px; margin-left:7px;" src="http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350")
              .ticket-up-info
                .col-xs-12.has-feedback
                  p.ticket-subtitle
                    | SUPPORT
                    | Thursday, Oct 16 , 2017 6:04pm
                p.col-xs-12.ticket-title My printer is not working at all
              .ticket-btn-group
                button.btn-exclamation-circle.active(type="button" title="Pending")
                  i.fa.fa-exclamation-circle
                button.btn-clock-o(type="button" title="Open")
                  i.fa.fa-clock-o
                button.btn-check-circle(type="button" title="Resolved")
                  i.fa.fa-check-circle

            .col-xs-12.no-padding.ticket-down
              .col-xs-11
                p
                  | REFERENCE:
                  strong.reference #0236941
                  | CREATED BY:
                  strong.created-by SCOTT WILSON
                  | ASSIGNED TO:
                  strong.assigned-to TOM PECHEUX
              .col-xs-1.no-padding
                button.pull-right.btn-more-ticket
                  i.fa.fa-ellipsis-h
          .col-xs-12.no-padding.ticket
            .col-xs-12.no-padding.ticket-up
              .ticket-profile-img
                img.img-circle.img-responsive(style="width:41px; height:41px; margin-left:7px;" src="http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350")
              .ticket-up-info
                .col-xs-12.has-feedback
                  p.ticket-subtitle
                    | SUPPORT
                    | Thursday, Oct 16 , 2017 6:04pm
                p.col-xs-12.ticket-title My printer is not working at all
              .ticket-btn-group
                button.btn-exclamation-circle(type="button" data-toggle="tooltip" data-placement="top" title="Pending")
                  i.fa.fa-exclamation-circle
                button.btn-clock-o.active(type="button" data-toggle="tooltip" data-placement="top" title="Open")
                  i.fa.fa-clock-o
                button.btn-check-circle(type="button" data-toggle="tooltip" data-placement="top" title="Resolved")
                  i.fa.fa-check-circle

            .col-xs-12.no-padding.ticket-down
              .col-xs-11
                p
                  | REFERENCE:
                  strong.reference #0236941
                  | CREATED BY:
                  strong.created-by SCOTT WILSON
                  | ASSIGNED TO:
                  strong.assigned-to TOM PECHEUX
              .col-xs-1.no-padding
                button.pull-right.btn-more-ticket
                  i.fa.fa-ellipsis-h
          .col-xs-12.no-padding.ticket
            .col-xs-12.no-padding.ticket-up
              .ticket-profile-img
                img.img-circle.img-responsive(style="width:41px; height:41px; margin-left:7px;" src="http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350")
              .ticket-up-info
                .col-xs-12.has-feedback
                  p.ticket-subtitle
                    | SUPPORT
                    | Thursday, Oct 16 , 2017 6:04pm
                p.col-xs-12.ticket-title My printer is not working at all
              .ticket-btn-group
                button.btn-exclamation-circle(type="button" data-toggle="tooltip" data-placement="top" title="Pending")
                  i.fa.fa-exclamation-circle
                button.btn-clock-o(type="button" data-toggle="tooltip" data-placement="top" title="Open")
                  i.fa.fa-clock-o
                button.btn-check-circle.active(type="button" data-toggle="tooltip" data-placement="top" title="Resolved")
                  i.fa.fa-check-circle

            .col-xs-12.no-padding.ticket-down
              .col-xs-11
                p
                  | REFERENCE:
                  strong.reference #0236941
                  | CREATED BY:
                  strong.created-by SCOTT WILSON
                  | ASSIGNED TO:
                  strong.assigned-to TOM PECHEUX
              .col-xs-1.no-padding
                button.pull-right.btn-more-ticket
                  i.fa.fa-ellipsis-h
    .col-xs-3.col-xs-offset-9.no-padding.activity-feed
        .panel.panel-default.col-xs-12.no-padding
            h2 activity feed

    <!-- New Ticket Modal -->
    .modal.fade#newticketModal.ticketModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .pull-right(style="position:absolute; right:15px; top:11px; z-index:2;")
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                .modal-header
                    h2.modal-title.text-center Create Ticket
                .modal-body

                    .row
                        form.col-xs-12.col-sm-10.col-sm-offset-1#ticketForm(action="/api/tickets" method="post" enctype="multipart/form-data" role="form")
                            if user.role != 'resident'
                              .form-group
                                  label Filed by
                                  input.form-control(type="text" name="filedby")
                            .form-group
                                label Category
                                .select
                                    select.form-control(name="category")
                                        option(value="") Please choose a category
                                        option(value="cleaning services") Cleaning Services
                                        option(value="customer service") Customer Service
                                        option(value="support") IT Support
                                        option(value="maintenance") Maintenance
                                        option(value="visits") Visits
                                        option(value="others") Others
                            .form-group
                                label Subject
                                input.form-control#subject(type="text" placeholder="Subject" name="subject")
                            .form-group
                                label Message
                                textarea.form-control#message(type="text" placeholder="Message" name="message" rows="5")

                            .form-group
                                label Attachment
                                input#file-select(type='file' name='attachments' data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Escoger Archivo")
                             .modal-footer
                                .pull-right.form-group-end
                                    button.btn(type="button" data-dismiss="modal" style="margin-right:7px;") Cancel
                                    input.btn.btn-livinn(type="submit" value="Submit")

    <!-- Open Ticket Modal -->
    .modal.fade#openticketModal.ticketModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg.big
            .modal-content
                .pull-right(style="position:absolute; right:15px; top:11px; z-index:2;")
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                .modal-header
                    h2#tickettitle
                        |   Ticket #456327
                        span.ticketcreated creado por Juan David Florez
                        span.ticketcreateddate 24/01/2017
                .modal-body
                    .row
                        h2.col-xs-12
                            |   Crear un nuevo tiquete
                            br
                            small Prometemos responder en el menor tiempo tu solicitud.

                        form.col-xs-12(action="/ticket" method="post")
                            .form-group
                                label Asunto
                                input.form-control#subject(type="text" placeholder="Asunto" name="subject")
                                input(id="subjectId" type="hidden" name="user" value="#{user._id}")
                            .form-group
                                label Mensaje
                                input.form-control(type="text" name="message")
                            input(type="hidden" name="user")
                .modal-footer
                  button.btn.pull-right.deleteBtn(data-dismiss="modal" aria-hidden="true") Cancel
                  input.pull-right.btn.btn-livinn.btn-lg(type="submit" value="Submit")

    <!-- Ticket Read Modal -->
    .modal.fade#readModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    h3.modal-title.text-center.readModalTitle
                .modal-body
                    .row
                        .col-xs-12.col-sm-10.col-sm-offset-1
                            .col-sm-12
                                    .form-group.col-sm-4
                                        label(for='fieldByRead') Field By
                                        p#filedByRead
                                    .form-group.col-sm-4
                                        label(for='subjectRead') Subject
                                        p#subjectRead
                                    .form-group.col-sm-4
                                        label(for='categoryRead') Category
                                        p#categoryRead
                            .col-sm-12
                                    .form-group.col-sm-12
                                        label(for='messageRead') Message
                                        p#messageRead



block scripts
    script(src="/plugins/summernote/summernote.min.js")
    script(src="/plugins/summernote/lang/summernote-es-ES.js")
    script(src="/js/jquery.bootpag.min.js")
    script.
        //----------------- SOCKET.IO ---------------------------
        var socket = io('/superadmin');

        socket.on('new-ticket', function (dataServer) {
          $('#table tbody').prepend("<tr id='"+ dataServer.ticket._id  +"'><td>"+'<img class="img-circle table-profile-img" src="http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350"'+'</td><td>'+dataServer.ticket.filedby+'</td><td>'+ dataServer.ticket.subject +'</td><td>'+ dataServer.ticket.category +'</td><td>'+ '<a href="'+dataServer.ticket.attachments +'" download="'+dataServer.ticket.file_name +'">'+dataServer.ticket.file_name +'</a>' +'</td><td>'+ moment(dataServer.ticket.created).format('L h:mm:ss a')+'</td><td>'+moment(dataServer.ticket.updated).format('L  h:mm:ss a')+'</td><td><span class="label label-success">open</span></td></tr>');

        });

        $( document ).ready(function() {


            $('.note-popover').css({'display': 'none'});

            // pagination script
            $('#page-selection').bootpag({
                total: 10,
                maxVisible: 5,
            }).on("page", function(event, num){
                console.log("numero:"+num);
                filterTickets(num);
            });

            filterTickets(1);


        });

        $('#search').on({
            focus: function () {
                $("#searchform .input-group-addon").addClass('focused');
            },

            blur: function () {
                $("#searchform .input-group-addon").removeClass('focused');
            }
        });

        /* Get params from all filters */
        function filterTickets(page){
            var search = $('#search').val().trim();
            getTickets(page,search);
        }

        $('#searchForm').submit(function(evt){
            evt.preventDefault();
            filterTickets(1);
        });

        function getTickets(page, search){
            //$('#tablecontainer').addClass("hidden")
            $('#table tbody').html('');

            $('#pages').hide();
            $('#page-nav').hide( );
            $('#loader').fadeIn( "slow");

            $.ajax({
                type: "GET",
                url: '/api/users/#{user._id}/tickets?page='+page +'&search='+search,
                success: function(data){


                    // change count legends
                    var total = parseInt(data.count/10);
                    if(data.count%10 != 0){
                        total += 1;
                    }

                     console.log(data);

                    var m = ((data.count%10 != 0 && data.page == total)? data.count%10 : 10);

                    var a = 1 + (data.page-1)*10;
                    var b = m + (data.page-1)*10;
                    $('#pages').html(a + '-' + b + ' de ' + data.count + ' Tickets');
                    $('#page-selection').bootpag({total: total, maxVisible: 5});
                    for(key=0; key<data.tickets.length ; key++ ){
                        $('#table tbody').prepend("<tr id='"+ data.tickets[key]._id  +"'><td>"+'<img class="img-circle table-profile-img" src="http://www.gravatar.com/avatar/2d5f930757a2f810ec10e60d398c4e35?s=350"'+'</td><td>'+data.tickets[key].filedby+'</td><td>'+ data.tickets[key].subject +'</td><td>'+ data.tickets[key].category +'</td><td>'+ '<a href="'+data.tickets[key].attachments +'" download="'+data.tickets[key].file_name +'">'+data.tickets[key].file_name +'</a>' +'</td><td>'+ moment(data.tickets[key].created).format('L h:mm:ss a')+'</td><td>'+moment(data.tickets[key].updated).format('L  h:mm:ss a')+'</td><td><span class="label label-success">open</span></td></tr>');
                    }
                }
            }).done(function(data){
                $('#loader').fadeOut( "fast", function() {
                  $('#searchbar').removeClass("hidden").fadeIn("slow");
                  $('#tablecontainer').removeClass("hidden").fadeIn("slow");
                  $('#pages').removeClass("hidden").show();
                  $('#page-nav').removeClass("hidden").show();
                });
            });
        }

        function getStatus(status){
            var status = '0';
            switch (status) {
                case '0':
                    source = "<span class='badge'>Enviado</span>";
                    break;
                case '1':
                    source = "<span class='badge'>Recibido</span>";
                    break;
                case '2':
                    source = "<span class='badge'>En proceso</span>";
                    break;
                case '3':
                    source = "<span class='badge'>Terminado</span>";
                    break;
                case '4':
                    source = "<span class='badge'>Aprobado</span>";
                    break;
            };
            return source;
        }

        $('table').on('dblclick','tr',function(){
                    var id = $(this).attr('id');

                    $.ajax({
                        type: "GET",
                        url: 'api/tickets/' + id,
                        success: function (response) {
                            $('.readModalTitle').html('<span class="text-capitalize"> Ticket ' + response.ticket._id + '</span>');
                            $("#filedByRead").text(response.ticket.filedby);
                            $("#subjectRead").text(response.ticket.subject);
                            $("#categoryRead").text(response.ticket.category);
                            $("#messageRead").text(response.ticket.message);

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var message = XMLHttpRequest.responseJSON.message;
                            warningAlert(message);
                        }
                    });

                    $('#readModal').modal('show');

                });


        /*=== Ticket Form ===*/
        $('#ticketForm').submit(function(evt){

            evt.preventDefault();
            var url = $(this).attr("action");
            var formData = new FormData($('#ticketForm')[0]);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success : function(response){
                    console.log(response);
                    if(response.message == 'Ticket has been created'){
                        socket.emit('new-ticket', {ticket: response.ticket});
                        $('#newticketModal').modal('hide');
                        $('#subject').val("");
                        $('#summernote').summernote("reset");
                        successAlert(response.message);
                    } else {
                        warningAlert('Error al crear la solicitud');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    if(message == 'password and password confirmation mismatch'){
                        $('#inputConfPasswordr').focus();
                        $('.emailregistrationerror').removeClass('has-error');
                        $('.passwordregistrationerror').addClass('has-error');
                        warningAlert('Las contraseñas no coinciden');
                    } else {
                        warningAlert(message);
                    }
                }
            });
        });

        function openTicket(ticketid){

            $.ajax({
                type: "GET",
                url: '/ticket/'+ticketid,
                success: function(data){
                    console.log(data);
                    $('#openticketModal').modal('show');

                }
            }).done(function(data){
                $('#loader').fadeOut( "fast", function() {
                  $('#searchbar').removeClass("hidden").fadeIn("slow");
                  $('#tablecontainer').removeClass("hidden").fadeIn("slow");
                  $('#pages').removeClass("hidden").show();
                  $('#page-nav').removeClass("hidden").show();
                });
            });
        }






